SPRING_DATASOURCE_URL=jdbc:mysql://132.145.194.97:3306/radixDB
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=Diegoelmejor1.0
SPRING_JPA_HIBERNATE_DDL_AUTO=none
SPRING_JPA_SHOW_SQL=true
SERVER_PORT=8081
